[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ast2ast"]
	path = ast2ast
	url = https://github.com/konrad1991/ast2ast
	shallow = true
	registered = true
[submodule "dfdr"]
	path = dfdr
	url = https://github.com/konrad1991/dfdr
	shallow = true
	registered = true
[submodule "paropt"]
	path = paropt
	url = https://github.com/konrad1991/paropt
	shallow = true
	registered = true
