[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ast2ast"]
	path = ast2ast
	url = https://github.com/konrad1991/ast2ast
[submodule "dfdr"]
	path = dfdr
	url = https://github.com/konrad1991/dfdr
